// Navigation code here
#top-nav {
    text-align:center;
    padding: 10px;
    background-color: lighten(grey, 40%);

    h1 {
        font-size: 3.6em;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 500px;
        margin: 15px auto 0;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

}